* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
}

header span {
    height: 43px;
    line-height: 43px;
    font-size: 14px;
}

header span.active {
    border-bottom: 1px solid blue;
    color: blue;
}

section {
    width: 100%;
    flex: 1;
}

section ul li {
    width: 80%;
    height: 100px;
    margin-left: 10%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

section ul li .top {
    width: 100%;
    height: 60px;
    border-bottom: 1px dashed salmon;
    background: salmon;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

section ul li .bottom {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

section ul li .bottom p {
    font-size: 11px;
    line-height: 20px;
}

section ul li .bottom p:nth-child(1) {
    color: green;
}

section ul li .bottom p:nth-child(2) {
    color: #ccc;
}

b {
    font-size: 50px;
}